*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: black;
    color: chocolate;
}
body{
    background-color: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,23,1) 39%, rgba(108,8,24,1) 59%, rgba(16,0,255,1) 100%);;
}
.score-board{
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px auto;
    width: 300px;
    padding:  25px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 200;
    font-size: 20px;
    position: relative;
}

.badge{
    background-color:  #cc0033 ;
    padding: 2px 10px ;
    color:white;
    font-family: 'Times New Roman', Times, serif;

}
#user-label{
    background-color: blue;
    position: absolute;
    top: 35px;
    left: px;
}
#comp-label{
    position: absolute;
    top:35px;
    right: 1px;   
}

.choise{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
}

p{
    text-align: center;
    padding-top: 36px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.choise-1{
    border: 2px  solid black;
    border-radius: 40%;
}
.choise-2{
    border: 2px solid black;
    border-radius: 40%;
}
.choise-3{
    border: 2px solid black;
    border-radius: 40%;
}
.choise-1:hover{
    cursor: pointer;
    background-color: rgb(255, 2, 52);
    
}
.choise-2:hover{
    background-size: 10px;
    cursor: pointer;
    background-color: crimson;
}

.choise-3:hover{
    background-size: 10px;
    cursor: pointer;
    background-color: crimson;
}
.result{
    top: 40px;
    padding-bottom: 35px;
    font-family: Asap,sans-serif;
    font-size: 44px;
    letter-spacing:15px;
}
.user-score{
    letter-spacing: 12px;
    
}
.comp-score{
    letter-spacing: 12px;
}
.result-2{
    color: aliceblue;
    font-family: "Comic Sans MS", cursive, sans-serif ;
    font-style: italic;
}